.formUser {
  background: white;
  padding: 2%;
  border-radius: 15px;
  margin-top: 10%;
  box-shadow: 5px 3px 4px 5px;
  width: 55vw;
  margin-left: auto;
  margin-right: auto;
}


.form__title {
  color        : darken($color: $primary, $amount: 20);
  margin-bottom: 20px;
}

.form__input {
  color        : $dark-grey;
  border       : 0px;
  border-bottom: 1px solid $light-grey;
  font-size    : 20px;
  margin-bottom: 10px;
  height       : 30px;
  width        : 100%;

  transition: border-bottom 0.3s ease;

  &:focus {
    border-bottom: 1px solid $primary;
    outline      : none;
  }
}

.footer-form {
  align-items    : center;
  display        : flex;
  justify-content: center;
  flex-direction : column;
  padding-top    : 20px;
  padding-bottom : 20px;
  width          : 100%;
}

.alert-error {
  width           : 100%;
  background-color: red;
  border-radius   : 5px;
  color           : white;
  display         : flex;
  justify-content : center;
  margin-bottom   : 10px;
  padding         : 5px;
}
.labelAge{
  font-size: 1.3rem;
}