* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}


main {
  width: 100%;
}

.mt-1 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.Avianca {
  background-color: $avianca;
}
.Latam {
  background-color: $latam;
}
.Spring {
  background-color: $spring}
.Vivair{
  background-color: $vivaair;
}

  .textAvianca {
    color: $avianca;
  }
  .textLatam {
    color: $latam;
  }
  .textSpring {
    color: $spring
  }
  .textVivair{
    color: $vivaair;
  }