//colors
$primary: #5c62c5;
$dark-grey: #363636;
$light-grey: #d8d8d8;

$white: #fff;
$navbar: #0769e9;
$backgroundNavbar: rgb(127 195 239 / 27%);
$button-active-blue: #1669f2;
$avianca :red;
$latam: blue;
$spring: #caca11;
$vivaair: #008aab;  
